.ant-btn-primary {
	border-color: green;
	background-color: green;
}

.ant-calendar .ant-calendar-ok-btn {
	border-color: green;
	background-color: green;
}

.ant-calendar-range-picker.ant-input {
	border-color: green;
}

.ant-calendar-time .ant-calendar-input {
	border-color: green;
}

.ant-calendar-time .ant-calendar-input:hover, .ant-calendar-time .ant-time-picker-input:hover {
	border-color: green;
}

.ant-btn-primary:focus, .ant-btn-primary:hover {
	border-color: green;
	background-color: green;
}

a {
	color: green;
}

a:hover {
	color: green;
}